<div>
    <div ng-repeat="post in $ctrl.posts track by $index">
        <post post="post"></post>
    </div>
    <nav class="blog-pagination">
        <div ng-if="$ctrl.showSpinner" class="mb-3 ml-3">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        
        <div ng-if="!$ctrl.showSpinner">
            <button ng-class="['btn', 'btn-outline-primary', {disabled: !$ctrl.canLoadNext}]"
                    aria-disabled="{{ !$ctrl.canLoadNext }}"
                    ng-click="$ctrl.loadNext()">
                Load next
            </button>
        </div>
    </nav>
</div>