<div ng-controller="PostCollection" ng-init="loadPosts()">
    <div ng-repeat="post in posts track by $index">
        <post post="post"></post>
    </div>
    <nav class="blog-pagination">
        <div class="mb-3 ml-3" ng-if="showSpinner">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        
        <div ng-if="!showSpinner">
            <button ng-class="['btn', 'btn-outline-primary', {disabled: !canLoadNext}]"
                    aria-disabled="{{ !canLoadNext }}"
                    ng-click="loadNext()">
                Load next
            </button>
        </div>
    </nav>
</div>