<div ng-if="!$ctrl.posts.length">
    <div ng-if="!$ctrl.showSpinner">
        <empty-posts-stub></empty-posts-stub>
    </div>
    <spinner show-spinner="$ctrl.showSpinner"></spinner>
</div>

<div ng-if="$ctrl.posts.length">
    <div ng-repeat="post in $ctrl.posts track by $index">
        <post post="post"></post>
    </div>
    <nav class="blog-pagination">
        <spinner show-spinner="$ctrl.showSpinner"></spinner>
        
        <div ng-if="!$ctrl.showSpinner">
            <button ng-class="['btn', 'btn-outline-primary', {disabled: !$ctrl.canLoadNext}]"
                    aria-disabled="{{ !$ctrl.canLoadNext }}"
                    ng-click="$ctrl.loadNext()">
                Load next
            </button>
        </div>
    </nav>
</div>